@font-face {
   font-family: 'SFProDisplay-Regular';
   font-display: swap;
   src: url('file:///C:/Users/tyger/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-04-07_164419/fonts/SFProDisplay-Regular/font.ttf');
}
